<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hdmovies.livetvchannels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name="com.hdmovies.livetvchannels.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:roundIcon"
        tools:targetApi="n">
        <!-- This meta-data tag is required to use Google Apps Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="instamojo.orderauth.url"
            android:value="http://www.battleworld.in/netklix/access_token.php" /> <!-- &lt;!&ndash; Add your API key here &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.razorpay.ApiKey" -->
        <!-- android:value="rzp_live_IEZg8qb41ELHfZ" -->
        <!-- /> -->
        <!-- <activity -->
        <!-- android:name=".SimpleExoPlayerActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.hdmovies.livetvchannels.MyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.hdmovies.livetvchannels.SubcriptionActivity" />
        <activity
            android:name="com.hdmovies.livetvchannels.PictureInPictureActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="com.hdmovies.livetvchannels.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hdmovies.livetvchannels.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivityVideoDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivityForgot"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivityPrivacy"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivityAboutUs"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivityComment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivitySignUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivitySignIn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hdmovies.livetvchannels.serverlocal.NoPipServerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
        <activity
            android:name="com.hdmovies.livetvchannels.serverlocal.PipServerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hdmovies.livetvchannels.youtube.YoutubePlay"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" /> <!-- Daily Motion Play -->
        <activity
            android:name="com.hdmovies.livetvchannels.dailymotion.DailyMotionPlay"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.hdmovies.livetvchannels.dailymotion.DailyMotionPlayNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" /> <!-- vimeo play activity -->
        <activity
            android:name="com.hdmovies.livetvchannels.vimeo.Vimeo"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.hdmovies.livetvchannels.vimeo.VimeoNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" /> <!-- analytic -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" /> <!-- analytic -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FFff0083" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.hdmovies.livetvchannels.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hdmovies.livetvchannels.PlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hdmovies.livetvchannels.EmbedActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name="com.hdmovies.livetvchannels.NotificationActivity" />
        <activity android:name="com.hdmovies.livetvchannels.NotificationDetailsActivity" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivitySignInNew"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hdmovies.livetvchannels.ActivitySignUpNew"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.hdmovies.livetvchannels.ActivityMobileNumberRegister" />
        <activity android:name="com.hdmovies.livetvchannels.OtpVerifyActivity"
            android:theme="@style/Theme.OtpDialog"/>
        <activity android:name="com.hdmovies.livetvchannels.ActivityEmailRegister" />
        <activity android:name="com.hdmovies.livetvchannels.ActivityForgotEmailPassword" />
    </application>

</manifest>